@page "/makes/edit/{id:string}" 
@*especificamos que esperamos un parametro id para poder modificarlo*@

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditMake" make="make" />

@code {
    [Parameter] public string id { get; set; }
    Make make = new Make();

    protected async override Task OnParametersSetAsync()
    {
        make = await _client.GetFromJsonAsync<Make>($"{Endpoints.MakesEndpoint}/{id}");
    }

    async Task EditMake()
    {
        await _client.PutAsJsonAsync($"{Endpoints.MakesEndpoint}/{id}", make);
        _navManager.NavigateTo("/makes/");
    }
}
