@page "/samplepage"
@*Lo primero que hago es darle su raiz a la pagina*@
@*@using CarRentalManagement.Client.Components*@
@*LLamo el using para poder incrustar el componente es como importar la clase para poder usarla
    o lo puedo poner directamente en la biblioteca para que pueda ser usado siempre donde dice shared _Imports*@

<h3>SamplePage</h3>

<SamplePageContentComponent/>

@code {

}
