@page "/bookings/view/{id:string}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent customer ="customer" Disabled = "true" />

@code {
    [Parameter] public string id { get; set; }
    Booking booking = new Booking();

    protected async override Task OnParametersSetAsync()
    {
        booking = await _client.GetFromJsonAsync<Booking>($"{Endpoints.BookingsEndpoint}/{id}");
    }

}
