@page "/vehicles/edit/{id:string}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit</h3>

<FormComponent ButtonText="Upload" OnValidSubmit="@EditVehicle" vehicle="vehicle" />

@code {
    [Parameter] public string id { get; set; }
    Vehicle vehicle = new Vehicle();

    protected async override Task OnParametersSetAsync()
    {
        vehicle = await _client.GetFromJsonAsync<Vehicle>($"{Endpoints.VehiclesEndpoint}/{id}");
    }

    private async Task EditVehicle()
    {
        await _client.PutAsJsonAsync($"{Endpoints.VehiclesEndpoint}/{id}", vehicle);
        _navManager.NavigateTo("/vehicles/");
    }

}
